
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /*Shared Style*/

  :root {
    --primary-color: orange;
    --secondary-color: rgba(1, 172, 253, 1);
    --third-color: rgba(127, 33, 250, 1);
    --paragraph-color: #808080;

  }

  .flex {
    display: flex;
  }
  .align {
    align-items: center;
  }
  .justify {
    justify-content: center;
  }

  /* .display-flex{
    display: flex;
  } */
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
  }

  .menu::before {
    content: "\2630";
    font-size: 2rem;
    font-weight: 700;
  }

  .logo span {
    font-size: 2rem;
    font-weight: 700;
  }
  nav ul li a {
    text-decoration: none;
  }

 
 .btn-primary{
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
    color: white;
    cursor: pointer;
    padding: 20px 30px;
    font-size: 1.25rem;
    font-weight: 700;
    
 }
 .enroll{
    border-radius: 12px;
    background-color: #111111;
    color: #FFFFFF;


 }
  



  /* Header Style */



  /* Navbar related Style */
  .nav-item{
    list-style: none;
    text-decoration: none;
    margin-right: 32px;
    
  }

  .nav-links{
    display: flex;
    justify-items: left;
  }
  .nav-orange{
    color: #FEA301;
  }
  .nav-skyblue{
    color: #01ACFD;
  }
  .nav-pest{
    color: #05D4DF;
  }
  .nav-purple{
    color: #5D58EF;
  }
 

/*banner*/

#banner {
  padding: 30px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-image img {
  width: 100%;
}

.banner-title {
  font-size: 3.4rem;
}

.banner-description {
  font-size: 1.25rem;
}

.banner-container button {
  background-color: black;
  margin-top: 20px;
}
.orange {
  color: var(--primary-color);
}

.skyblue {
  color: var(--secondary-color);
}

/* Curriculum */

#curriculum {
  padding: 40px 10%;
  text-align: center;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.curriculam-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.section-title {
  font-size: 2.9rem;
  margin-bottom: 40px;
}

.car-card img {
  width: 150px;
  height: 150px;
}

.car-card {
  padding: 40px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.car-card p {
  color: var(--paragraph-color);
  font-size: 1rem;
  line-height: 25px;
}

.card-1 {
  background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(222, 245, 255, 1);
}

.card-2 {
  background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 244, 220, 1);
}

.card-3 {
  background-image: linear-gradient(to bottom, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(242, 232, 255, 1);
}

.car-card a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;

}

.card-1 a {
  color: var(--secondary-color);
}

.card-2 a {
  color: var(--primary-color);
}

.card-3 a {
  color: var(--third-color);
}

.car-nav i {
  padding: 10px;
  margin: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

.car-nav {
  margin-top: 30px;
}




/* card related style */


  @media screen and (max-width:576px) {
    nav, .btn-container {
      display: none;
    }
    .menu {
      display: block;
    }
    .logo span {
      display: none;
    }
    header {
      border-bottom: 2px solid #FEA301;
    }

    #banner {
      flex-direction: column-reverse;
    }
    .banner-container {
      text-align: center;
    }

    .curriculam-container {
      flex-direction: column;
    }

    .car-nav {
      display: none;
    }

    

    




  }

  @media screen and  (min-width:993px) {
    .menu {
      display: none;
    }
    
  }

  .hide {
    display: none;
  }

 